name: Deploy to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install SSH dependencies # Ensures openssh-client is available
        run: sudo apt-get update && sudo apt-get install -y openssh-client

      - name: Setup SSH Agent
        run: |
          eval $(ssh-agent -s)
          echo "${{ secrets.SSH_PRIVATE_KEY }}" | tr -d '\r' | ssh-add -

      - name: Deploy to VPS
        run: |
          ssh -o StrictHostKeyChecking=no -v ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }} "
            cd ~/babd
            git pull origin main
            npm install
            npm run build
            pm2 restart babd-app
          "
